.exchange-topbar{
    background-color: bisque;
    padding: 1rem;
    ul{
        list-style: none;
        margin:0;
        padding:0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}